@import url(/css/reset.css);
@import url(/css/font.css);
@import url(/css/color.css);

/* 크기 속성 */
.w_full {
  width: 100%;
}

/* 버튼 */
.btn {
  background-color: var(--primary100);
  border: none;
}

.btn:hover {
  background-color: var(--primary200);
}

.btn:active {
  background-color: var(--primary300);
}

.btn:disabled {
  background-color: var(--secondary400);
}

.btn_lg {
  height: 56px;
  padding: 12px 0;
  text-align: center;
  color: var(--white);
  font-size: 20px;
  font-weight: var(--fw_sb);
  line-height: 32px;
  border-radius: 28px;
}

.btn_md {
  height: 48px;
  padding: 11px 0;
  text-align: center;
  color: var(--white);
  font-size: 18px;
  font-weight: var(--fw_sb);
  border-radius: 24px;
}

.btn_sm42 {
  height: 42px;
  padding: 8px 0;
  text-align: center;
  color: var(--white);
  font-size: 16px;
  font-weight: var(--fw_sb);
  border-radius: 16px;
}

.btn_sm48 {
  height: 48px;
  padding: 11px 0;
  text-align: center;
  color: var(--white);
  font-size: 16px;
  line-height: 26px;
  font-weight: var(--fw_sb);
  border-radius: 16px;
}

/* 인풋 */
input[type="text"],
input[type="password"] {
  width: 100%;
  height: 56px;
  padding: 16px 24px 14px 24px;
  border-radius: 12px;
  border: 2px solid var(--secondary100);
  background-color: var(--secondary100);
  outline: none;
}
