@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  word-break: keep-all;
  font-size: 16px;
}

/* 프리텐다드 굵기 : regular 400 / medium 500 / semibold 600 / bold 700 */
:root {
  --fw_b: 700;
  --fw_sb: 600;
  --fw_m: 500;
  --fw_r: 400;

  --txt_4xl_b: normal 700 4em/1.4 "Pretendard";
  --txt_3xl_b: normal 700 3.2em/4.2em "Pretendard";
  --txt_3xl_sb: normal 600 3.2em/4.2em "Pretendard";
  --txt_2xl_b: normal 700 2.4em/3.2em "Pretendard";
  --txt_2xl_sb: normal 600 2.4em/3.2em "Pretendard";
  --txt_2xl_m: normal 500 2.4em/3.2em "Pretendard";
  --txt_2xl_r: normal 400 2.4em/3.2em "Pretendard";
  --txt_xl_b: normal 700 2em/3.2em "Pretendard";
  --txt_xl_sb: normal 600 2em/3.2em "Pretendard";
  --txt_xl_m: normal 500 2em/3.2em "Pretendard";
  --txt_xl_r: normal 400 2em/3.2em "Pretendard";
  --txt_2lg_b: normal 700 1.8em/2.6em "Pretendard";
  --txt_2lg_sb: normal 600 1.8em/2.6em "Pretendard";
  --txt_2lg_m: normal 500 1.8em/2.6em "Pretendard";
  --txt_2lg_r: normal 400 1.8em/2.6em "Pretendard";
  --txt_lg_b: normal 700 1.6em/2.6em "Pretendard";
  --txt_lg_sb: normal 600 1.6em/2.6em "Pretendard";
  --txt_lg_m: normal 500 1.6em/2.6em "Pretendard";
  --txt_lg_r: normal 400 1.6em/2.6em "Pretendard";
  --txt_md_b: normal 700 1.4em/2.4em "Pretendard";
  --txt_md_sb: normal 600 1.4em/2.4em "Pretendard";
  --txt_md_m: normal 500 1.4em/2.4em "Pretendard";
  --txt_md_r: normal 400 1.4em/2.4em "Pretendard";
  --txt_sm_sb: normal 600 1.3em/2.2em "Pretendard";
  --txt_sm_m: normal 500 1.3em/2.2em "Pretendard";
  --txt_xs_sb: normal 600 1.2em/1.8em "Pretendard";
  --txt_xs_m: normal 500 1.2em/1.8em "Pretendard";
  --txt_xs_r: normal 400 1.2em/1.8em "Pretendard";
}
