@import url(/css/component.css);

.wrap {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 200px;
  /* background-color: #ffc; */
}

/* 헤더 */
header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--white);
  border-bottom: 1px solid #dfdfdf;
  z-index: 999;
}

header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 헤더 - 로고 */
header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

header .logo img:last-child {
  margin-left: 8.59px;
}

/* 헤더 - 버튼 */
header .btn {
  width: 128px;
}

/* 메인 컨텐츠 */
main {
  padding-top: 70px;
}
/* 메인 컨텐츠 - 섹션1,섹션3 */
.main_sec01,
.main_sec03 {
  width: 100%;
  height: 540px;
  background-color: var(--primary50);
}

.main_sec01 .wrap,
.main_sec03 .wrap {
  height: inherit;
  position: relative;
}

.main_sec01 .bgImg,
.main_sec03 .bgImg {
  position: absolute;
  right: 200px;
  bottom: 0;
  width: 50%;
}

.main_sec01__txtBox {
  position: absolute;
  left: 200px;
  top: 240px;
}

.main_sec03__txtBox {
  position: absolute;
  left: 200px;
  top: 255px;
}

.main_sec01__txtBox > span,
.main_sec03__txtBox > span {
  display: block;
  font-size: 4rem;
  line-height: 1.4;
  font-weight: var(--fw_b);
}

.main_sec01__txtBox .btn {
  width: 357px;
  margin-top: 32px;
}

/* 메인 컨텐츠 - 섹션2 */
.main_sec02 .contentFrame {
  padding: 138px 0;
  width: 88%;
  margin: 0 auto;
}

.main_sec02 .content {
  width: 100%;
  height: 444px;
  background-color: #fcfcfc;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 64px;
}

.main_sec02 .contentFrame:nth-child(2n) .content {
  flex-direction: row-reverse;
}

.main_sec02 .content__imgBox {
  width: calc(100% - 400px);
  height: inherit;
  background-color: var(--secondary100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_sec02 .content__imgBox img {
  width: 100%;
}

.main_sec02 .content__txtBox {
  width: 400px;
}

.main_sec02 .contentFrame:nth-child(2n) .content__txtBox {
  text-align: right;
}

.main_sec02 .content__txtBox .txtBox__label {
  font-size: 18px;
  font-weight: var(--fw_b);
  line-height: 26px;
  color: var(--primary100);
  margin-bottom: 12px;
}
.main_sec02 .content__txtBox .txtBox__title {
  display: block;
  font-size: 40px;
  font-weight: var(--fw_b);
  line-height: 1.4;
  color: var(--primary700);
  letter-spacing: 0.02rem;
  margin-bottom: 24px;
}
.main_sec02 .content__txtBox .txtBox__desc {
  font-size: 24px;
  line-height: 32px;
  font-weight: var(--fw_m);
  color: var(--primary700);
}

/* 푸터 */
footer {
  background-color: var(--secondary900);
  width: 100%;
  height: 160px;
  padding: 32px 0;
}

footer .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  color: var(--secondary400);
  font: var(--txt_lg_r);
  line-height: 1;
}

footer .fnb a {
  color: var(--secondary200);
  font: var(--txt_lg_r);
  line-height: 1;
  margin-right: 30px;
}

footer .sns-bar a {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

footer .fnb a:last-child,
footer .sns-bar a:last-child {
  margin-right: 0;
}

@media (max-width: 1119px) {
  html {
    font-size: 6px;
    transition: all 0.5s;
  }

  .main_sec01__txtBox .btn {
    width: 200px;
    transition: all 0.5s;
  }
}

@media (min-width: 1120px) {
  html {
    font-size: 10px;
    transition: all 0.5s;
  }
}
